
School Project Mid/Library/ArtifactDB
School Project Mid/Library/Artifacts/1b/1b32320bd9a23b0a6cd2c5daf58b6dc9
School Project Mid/Library/Artifacts/5f/5f02babe14295f5ce1aaf1171f9f0332
School Project Mid/Library/Bee/backend_profiler0.traceevents
School Project Mid/Library/Bee/fullprofile.json
School Project Mid/Library/Bee/tundra.digestcache
School Project Mid/Library/Bee/tundra.log.json
School Project Mid/Library/Bee/TundraBuildState.state
School Project Mid/Library/SceneVisibilityState.asset
School Project Mid/Library/SourceAssetDB
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe0.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe1.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe10.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe11.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe2.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe3.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe4.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe5.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe6.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe7.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe8.log
School Project Mid/Logs/shadercompiler-UnityShaderCompiler.exe9.log
School Project Mid/UserSettings/Layouts/default-2021.dwlt
